/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(27, 45, 2, 0.8); 
}

header h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}
header nav ul h1 {
    width: 280px;
}
.titulo {
    display: none;
}
#btnNav {
    display: none;

    background: none;
    border: none;
    cursor: pointer;
}

#btnNav img {
    width: 40px;
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0;
}

nav li {
    flex: 1;
    max-width: 180px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    min-height: 60px;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

    transition: .3s;
}


nav a:hover {
    color: #d5d5d5;
    background: rgba(27, 45, 2, 0.9); 
}

/*media querys*/

@media (max-width: 700px) {
    header{
        display: flex;
        align-items: center;
        background: rgba(27, 45, 2, 0.8); 
        padding-bottom: 5.5%;
    }
    
    header nav ul h1{
        display: none;
    }
    
    .titulo{
        display: grid;
        margin-left: 25%;
    }

    #btnNav{
    display: block;
    margin: 0;
    margin-left: 1rem;
    cursor: pointer;
    }

    nav {
        display: none;

        position: absolute;
        top: 80px;
        left: 0;

        width: 100%;

        background: rgba(27, 45, 2, 0.8); 
        
    }

    nav.activo {
        display: block;
        
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        max-width: 100%;
    }

    nav a {
        width: 100%;
        justify-content: flex-start;
        padding-left: 20px;
    }
}